body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header {
    width: 85%;
    height: 100px;
    padding: 0;
    margin: 0;
    font-size: 2em;
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.pheader{
    align-self: center;
    margin: 0;
    padding: 0;
}

.header > li, ul{
    align-self: center;
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    padding: 0;
}

ul{
    text-align: left;
    display: inline-block;
}

p {
    width: 85%;
    align-self: center;
}